{% extends "index.html.twig" %}

{% block jsFiles %}<script type="application/javascript" src="view/js/signup.js"></script>{% endblock %}
{% block cssFiles %}<link rel="stylesheet" href="view/css/auth.css">{% endblock %}
{% block title %}registration page{% endblock %}
{% block body %}
    {{ parent() }}
{% endblock %}
{% block page %}
    {% if (reg_error == true) %}
        <div class="error err_message" >
            <p>Something Went Wrong, Please try again later</p>
        </div>
    {% elseif (support_error == true) %}
        <div class="error err_message" >
            <p>This SMTP Server supports only emails from 'yopmail' domain</p>
        </div>
    {% elseif (login_error == true) %}
        <div class="error err_message" >
            <p>Sorry , but this login has already registered</p>
        </div>
    {% endif %}
    <form method="post" action="/register">
        <div class="signup">
            <span class="">Login :</span>
            <input type="email" name="login" class="{{ error }}" required placeholder="Enter a valid email address" value="{{ login }}">
            <span class="">Name :</span>
            <input type="text" name="name" required placeholder="Enter your name" value="{{ name }}">
            <span class="last">Password :</span>
            <input type="password" id="password" name="password" required/>
            <span class="last">Repeat Password</span>
            <input type="password" id="repeat" required/>
            <input type="submit" value="Register"/>
        </div>
    </form>
{% endblock %}